@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;

@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, DNNrocketUtils.GetEditCulture());
    var appThemeSystem = new AppThemeSystemLimpet("rocketdocs");
    var sessionParams = Model.SessionParamsData;
    var portalData = new PortalLimpet(portalCatalog.PortalId);
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalCatalog.Organisation + "/" + portalCatalog.AppThemeAdminFolder + "/" + portalCatalog.AppThemeAdminVersion + "/resx/")

@RenderLanguageSelector("articleadmin_editarticle", "{\"articleid\":\"" + articleData.ArticleId + "\"}", appThemeSystem, Model)

<div id="articleedit">

    <div id="articleeditcontent" class='w3-animate-opacity '>

        <div class="w3-bar  w3-padding">
            <div class="w3-button simplisity_click" s-cmd="articleadmin_editlist" s-fields=''>@ButtonIcon(ButtonTypes.back)</div>
            <div class="w3-button w3-theme-action simplisity_click savearticlebutton langchangesave" s-before="articlerichtextSave" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
            @if (articleData.Exists)
            {
                <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy")&nbsp;?" s-cmd="articleadmin_copy" s-fields='{"articleid":"@info.ItemID"}'>@ButtonText(ButtonTypes.copy)</div>
            }
            <div class="w3-button w3-right w3-margin-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>
        </div>

        <div id="articledatasection" class="">
            <div class='w3-row'>
                <div id="generaltab" class='w3-row sectionname w3-margin-top'>
                    <div class='w3-row'>
                        <div class="w3-threequarter w3-padding">
                            <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(info, articleData.NameXPath, " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                        </div>
                        <div class="w3-quarter w3-padding w3-right-align">
                            @CheckBox(info, articleData.HiddenXPath, "&nbsp;" + ResourceKey("RC.hidden"), " class='w3-check ' ")
                        </div>
                    </div>
                    <div class='w3-row w3-padding'>
                        @CKEditor4(info, articleData.RichTextXPath)
                    </div>
                    <div class=" w3-row w3-padding">
                        <label>@ResourceKey("Theme.tagwords")</label>&nbsp;@EditFlag(sessionParams)
                        @TextArea(info, articleData.SeoKeyWordsXPath, " class='w3-input w3-border action_tageditor' autocomplete='off' ", "", true, 0)
                    </div>
                    <div class=" w3-row w3-padding">
                        @RenderTemplate("AdminExtra.cshtml", appThemeAdmin, Model, true)
                    </div>
                </div>

            </div>
            <div class="w3-row">
                <div class="w3-third w3-padding-small">
                    <div onclick="$('#categoriestab').toggle();$('#categoriestabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align ">
                        @ResourceKey("RC.categories")
                        <span id="categoriestabexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="categoriestab" class='w3-row sectionname a-articlecategorylist w3-border w3-padding' style="">
                        @RenderTemplate("ArticleCategoryList.cshtml", appThemeSystem, Model, true)
                    </div>
                </div>
                <div class="w3-third w3-padding-small">
                    <div onclick="$('#docs').toggle();$('#docsexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align">
                        @ResourceKey("DNNrocket.docs")
                        <span id="docsexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="docs" class='w3-row sectionname w3-border w3-padding' style="">
                        @RenderTemplate("ArticleDocuments.cshtml", appThemeSystem, Model, true)
                    </div>
                    @RenderTemplate("ArticleDocumentSelect.cshtml", appThemeSystem, Model, true)
                </div>
                <div class="w3-third w3-padding-small">
                    <div onclick="$('#links').toggle();$('#linksexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align">
                        @ResourceKey("DNNrocket.links")
                        <span id="linksexpand" class="material-icons w3-right" style="display:none;">
                            unfold_more
                        </span>
                    </div>
                    <div id="links" class='w3-row sectionname w3-border w3-padding' style="">
                        @RenderTemplate("ArticleLinks.cshtml", appThemeSystem, Model, true)
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-padding">
            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }
            <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {

        $('.action_tageditor').tagEditor({
            delimiter: ', ', /* space and comma */
            removeDuplicates: true,
            forceLowercase: false,
        });
        $('.tag-editor').height(80)

    });

</script>
