<div class="w3-col s12 m6 l3 w3-padding w3-center">
    <a href="{{genxml.sessionparams.r.pageurl}}?articleid={{genxml.data.genxml.column.itemid}}">
        <img class="" src="{{article this "imageurl" 0 360 360}}" alt="{{article this "imagealt" 0}}" style="width:100%">
    </a>
    <div class="" style="height:100px;overflow:hidden;">
        <h3>{{article this "name"}}</h3>
        <p>{{article this "summary"}}</p>
    </div>
</div>


{{! displayData this}}

