@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var categoryList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var catalogSettings = (CatalogSettingsLimpet)Model.GetDataObject("catalogsettings");
    var catid = articleDataList.CategoryId;
    if (catid == 0)
    {
        catid = catalogSettings.DefaultCategoryId;
    }
    var categoryData = new CategoryLimpet(portalCatalog.PortalId, catid, sessionParams.CultureCode, systemData.SystemKey);

    var hbsDict = new Dictionary<string, SimplisityInfo>();
    hbsDict.Add("sessionparams", sessionParams.Info);
    hbsDict.Add("resxlist", RenderRazorUtils.GetResxPaths(Processdata));

    var artList = articleDataList.GetArticleList();
}

@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")

<div id="pagetop" class=""></div>


<div class="w3-sidebar w3-light-grey w3-card" style="width:240px;">
    <div class="w3-bar-block w3-large w3-margin-top">
    @foreach (var catData in categoryList.GetCategoryList())
    {
        if (catData.CategoryId == categoryData.CategoryId)
        {
            <a class="w3-bar-item w3-button w3-indigo" href="@catData.CategoryUrl(sessionParams)">@catData.Name</a>
        }
        else
        {
            <a class="w3-bar-item w3-button w3-hover-blue" href="@catData.CategoryUrl(sessionParams)">@catData.Name</a>                    
        }
    }
    </div>
</div>

<div class="w3-main w3-white w3-padding" style="margin-left:250px;">

    <div class="w3-col m10 w3-padding">
        @if (catid == 0)
        {
            <h1>@catalogSettings.CatalogName &nbsp;</h1>
        }
        else
        {
            <h1>@categoryData.Name&nbsp;</h1>
        }

        @foreach (var art in articleDataList.GetArticleList())
        {
            <div id="@art.GUIDKey"></div>
            <div class="w3-large" style="margin-top:50px;">@art.Name</div>
            <div>
                @HtmlOf(art.RichText)
            </div>
        }
    </div>
    @if (artList.Count > 0)
    {
        <div class="w3-sidebar w3-padding" style="width:240px;right:0" >
                <a href="#pagetop" class="w3-small">
                    <span class="material-icons">
                        vertical_align_top
                    </span>
                </a><br/>
            @foreach (var art in artList)
            {
                <a href="#@art.GUIDKey" class="w3-small">@art.Name</a><br/>
            }
        </div>        
    }


</div>
